.row-header{
  margin: 0px auto;
  padding: 0px auto;
}
/* .row-content{
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
} */
.footer{
  height: 100%;
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px;
}
.jumbotron{
  padding: 70px 30px;
  margin: 0px auto;
  background: #9575CD;
  color: floralwhite;
}
address{
  font-size:80%;
  margin: 0px;
  color: #0f0f0f;
}
.navbar-dark{
  background-color: #512DA8;
  color: antiquewhite;
}
.navbar-nav>li{
  list-style-type: none;
  margin: 0px 10px;
}
.nav-item>a{
  color: white;
  text-decoration: none;
}
.card{
  border: 1px solid rgb(214, 214, 214);
  border-radius: 4px;
}
.card h3{
  margin-left: 10px;
}
.card p{
  margin-left: 20px;
}
.card a{
  text-decoration: none;
  justify-content: center;
}

.breadcrumb{
  list-style-type: none;
  display: flex;
}
.breadcrumb-item a{
  text-decoration: none;
  margin-right: 3px;
  color: #7d7979;
}
.active{
  text-decoration: none;
}
.title{
  text-align: center;
  color: #0f0f0f;
}
.role{
  background-color: rgba(67,67,67, 0.1);
  height: 30px;
  margin: 0px 20px 10px;
}
.imginfor{
  margin-left: 30px;
}
.fa-btn{
  color: white;
}
.text-center{
  margin-top: 15%;
}

