.row-header{
  margin: 0px auto;
  padding: 0px auto;
}
.row-content{
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.footer{
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px;
}
.jumbotron{
  padding: 70px 30px;
  margin: 0px auto;
  background: #9575CD;
  color: floralwhite;
}
address{
  font-size:80%;
  margin: 0px;
  color: #0f0f0f;
}
.navbar-dark{
  background-color: #512DA8;
  display: flex;
  color: antiquewhite;
}
.navbar-nav>li{
  list-style-type: none;
  margin: 0px 10px;
  display: inline;
}
.nav-item>a{
  color: white;
  text-decoration: none;
}
.btn {
  border: #0f0f0f 1px;
}
.card{
  border: 1px solid rgb(214, 214, 214);
  margin: 10px 10px;
  border-radius: 4px;
}
.card h3{
  margin-left: 10px;
}
.card p{
  margin-left: 20px;
}
.card a{
  text-decoration: none;
  justify-content: center;
}
.footer{
  margin-top: 30px;
}
.header{
  margin-bottom: 30px;
}